.typingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dictationSolution {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  background: transparent;
  color: white;
  resize: none;
}
