.subSettingsContainer {
  display: flex;
  flex-direction: column;
  border-bottom: #fff 0.15rem solid;
  align-items: center;
  padding-bottom: 1rem;
}

.singularSettingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}

.singularSettingName {
  margin-right: 0.5rem;
  flex-shrink: 0;
}
