.footerContainer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 1rem;
  border-top: 0.3rem solid white;
}

.footerItem {
  margin: 0.5rem;
}
