@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Playwrite+IN:wght@100..400&display=swap");

body {
  background-color: #1c1c1eff;
  color: white;
  user-select: none;
}

.iconBtn {
  align-self: center;
  font-size: 2.5rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.textTitle {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
